# ðŸŽ² TRATAMENTO DE DADOS

In [3]:
import pandas as pd

stroke_data_set = pd.read_csv('dados1.csv', delimiter=';')

stroke_data_set.shape
stroke_data_set.head(10)

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
0,1,67.0,0,1,1,1,0,228.69,36.60,2,1
1,0,61.0,0,0,1,2,1,202.21,28.89,0,1
2,1,80.0,0,1,1,1,1,105.92,32.50,0,1
3,0,49.0,0,0,1,1,0,171.23,34.40,1,1
4,0,79.0,1,0,1,2,1,174.12,24.00,0,1
5,1,81.0,0,0,1,1,0,186.21,29.00,2,1
6,1,74.0,1,1,1,1,1,70.09,27.40,0,1
7,0,69.0,0,0,0,1,0,94.39,22.80,0,1
8,0,59.0,0,0,1,1,1,76.15,28.89,0,1
9,0,78.0,0,0,1,1,0,58.57,24.20,0,1

In [4]:
stroke_data_set.describe()

,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,43.226614,0.097456,0.054012,0.656164,1.278669,0.491977,106.147677,28.893110,0.500783,0.048728
std,22.612647,0.296607,0.226063,0.475034,0.857785,0.499985,45.283560,7.698018,0.772331,0.215320
min,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,55.120000,10.300000,0.000000,0.000000
25%,25.000000,0.000000,0.000000,0.000000,1.000000,0.000000,77.245000,23.800000,0.000000,0.000000
50%,45.000000,0.000000,0.000000,1.000000,1.000000,0.000000,91.885000,28.400000,0.000000,0.000000
75%,61.000000,0.000000,0.000000,1.000000,2.000000,1.000000,114.090000,32.800000,1.000000,0.000000
max,82.000000,1.000000,1.000000,1.000000,3.000000,1.000000,271.740000,97.600000,2.000000,1.000000

In [5]:
avc_negativo = stroke_data_set.loc[stroke_data_set['AVC'] == 0]

avc_negativo_249 = avc_negativo.sample(n=249)

avc_negativo_249

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
1233,0,41.00,0,0,1,3,1,229.86,35.2,1,0
2042,1,8.00,0,0,0,0,0,104.51,20.6,0,0
4462,0,10.00,0,0,0,0,1,83.03,18.5,0,0
3245,0,79.00,1,0,1,1,1,64.44,26.9,2,0
1499,0,1.24,0,0,0,0,1,113.96,21.5,0,0
...,...,...,...,...,...,...,...,...,...,...,...
350,0,79.00,1,1,1,2,0,200.28,30.0,2,0
4815,0,19.00,0,0,0,1,0,96.85,23.4,0,0
3125,0,26.00,0,0,0,3,0,88.88,36.3,0,0
1938,1,81.00,0,0,1,2,0,83.52,25.0,0,0
2655,0,44.00,0,0,1,3,0,97.16,33.1,0,0

In [6]:
avc_positivo = stroke_data_set.loc[stroke_data_set['AVC'] == 1]

avc_positivo

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
0,1,67.0,0,1,1,1,0,228.69,36.60,2,1
1,0,61.0,0,0,1,2,1,202.21,28.89,0,1
2,1,80.0,0,1,1,1,1,105.92,32.50,0,1
3,0,49.0,0,0,1,1,0,171.23,34.40,1,1
4,0,79.0,1,0,1,2,1,174.12,24.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...
244,1,57.0,0,0,1,1,1,84.96,36.70,0,1
245,0,14.0,0,0,0,0,1,57.93,30.90,0,1
246,0,75.0,0,0,1,2,1,78.80,29.30,2,1
247,1,71.0,1,0,1,2,1,87.80,28.89,0,1
248,0,78.0,0,0,1,1,1,78.81,19.60,0,1

In [9]:
final_dataset = pd.concat([avc_positivo, avc_negativo_249], ignore_index=False)

final_dataset_shuffle = final_dataset.sample(frac=1).reset_index(drop=True)

final_dataset_shuffle

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
0,0,79.0,0,1,1,1,0,214.09,28.20,0,1
1,0,52.0,0,0,1,1,1,96.59,26.40,0,1
2,1,27.0,0,0,1,2,0,82.90,25.00,0,0
3,0,74.0,0,0,1,1,1,231.61,34.60,2,1
4,1,20.0,0,0,0,1,0,57.51,21.40,0,0
...,...,...,...,...,...,...,...,...,...,...,...
493,0,82.0,1,0,1,2,0,196.92,22.20,0,1
494,1,68.0,0,0,1,2,0,195.43,28.90,0,0
495,0,76.0,1,1,1,2,0,199.86,28.89,1,1
496,0,38.0,0,0,1,1,1,101.45,28.89,2,1
497,1,76.0,1,0,1,1,1,243.58,33.60,0,1

# ðŸ¤– MODELO E TREINAMENTO

In [10]:
from sklearn import tree
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'