# ðŸŽ² TRATAMENTO DE DADOS

In [36]:
import pandas as pd

stroke_data_set = pd.read_csv('dados1.csv', delimiter=';')

stroke_data_set.shape
stroke_data_set.head(10)

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
0,1,67.0,0,1,1,1,0,228.69,36.60,2,1
1,0,61.0,0,0,1,2,1,202.21,28.89,0,1
2,1,80.0,0,1,1,1,1,105.92,32.50,0,1
3,0,49.0,0,0,1,1,0,171.23,34.40,1,1
4,0,79.0,1,0,1,2,1,174.12,24.00,0,1
5,1,81.0,0,0,1,1,0,186.21,29.00,2,1
6,1,74.0,1,1,1,1,1,70.09,27.40,0,1
7,0,69.0,0,0,0,1,0,94.39,22.80,0,1
8,0,59.0,0,0,1,1,1,76.15,28.89,0,1
9,0,78.0,0,0,1,1,0,58.57,24.20,0,1

In [37]:
stroke_data_set.describe()

,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,43.226614,0.097456,0.054012,0.656164,1.278669,0.491977,106.147677,28.893110,0.500783,0.048728
std,22.612647,0.296607,0.226063,0.475034,0.857785,0.499985,45.283560,7.698018,0.772331,0.215320
min,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,55.120000,10.300000,0.000000,0.000000
25%,25.000000,0.000000,0.000000,0.000000,1.000000,0.000000,77.245000,23.800000,0.000000,0.000000
50%,45.000000,0.000000,0.000000,1.000000,1.000000,0.000000,91.885000,28.400000,0.000000,0.000000
75%,61.000000,0.000000,0.000000,1.000000,2.000000,1.000000,114.090000,32.800000,1.000000,0.000000
max,82.000000,1.000000,1.000000,1.000000,3.000000,1.000000,271.740000,97.600000,2.000000,1.000000

In [38]:
avc_negativo = stroke_data_set.loc[stroke_data_set['AVC'] == 0]

avc_negativo_249 = avc_negativo.sample(n=249)

avc_negativo_249

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
716,1,29.0,0,0,0,1,0,59.26,35.80,1,0
1205,0,32.0,0,0,1,1,1,106.02,24.90,1,0
3553,1,72.0,0,1,1,2,0,85.82,25.00,2,0
870,1,49.0,0,0,1,1,1,102.47,29.30,2,0
4824,0,81.0,0,0,1,1,1,91.82,36.90,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1596,1,47.0,0,0,0,1,1,237.17,28.89,0,0
1680,1,37.0,0,0,1,1,0,145.26,26.70,0,0
1720,0,31.0,0,0,0,2,1,70.65,29.90,0,0
787,0,31.0,0,0,1,1,0,109.68,41.80,0,0
3944,1,49.0,0,0,0,1,0,95.79,24.00,0,0

In [39]:
avc_positivo = stroke_data_set.loc[stroke_data_set['AVC'] == 1]

avc_positivo

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
0,1,67.0,0,1,1,1,0,228.69,36.60,2,1
1,0,61.0,0,0,1,2,1,202.21,28.89,0,1
2,1,80.0,0,1,1,1,1,105.92,32.50,0,1
3,0,49.0,0,0,1,1,0,171.23,34.40,1,1
4,0,79.0,1,0,1,2,1,174.12,24.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...
244,1,57.0,0,0,1,1,1,84.96,36.70,0,1
245,0,14.0,0,0,0,0,1,57.93,30.90,0,1
246,0,75.0,0,0,1,2,1,78.80,29.30,2,1
247,1,71.0,1,0,1,2,1,87.80,28.89,0,1
248,0,78.0,0,0,1,1,1,78.81,19.60,0,1

In [40]:
final_dataset = pd.concat([avc_positivo, avc_negativo_249], ignore_index=False)

final_dataset_shuffle = final_dataset.sample(frac=1).reset_index(drop=True)

final_dataset_shuffle

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
0,0,72.00,1,0,1,1,1,74.63,23.1,2,1
1,1,80.00,1,0,1,1,0,240.09,27.0,0,1
2,1,76.00,1,0,1,1,1,243.58,33.6,0,1
3,0,14.00,0,0,0,2,0,124.39,34.0,0,0
4,0,57.00,0,0,1,1,0,231.31,32.3,0,0
...,...,...,...,...,...,...,...,...,...,...,...
493,1,42.00,0,0,1,1,1,67.87,30.0,0,0
494,1,60.00,0,1,1,1,0,91.92,35.9,1,1
495,1,39.00,0,0,1,1,1,117.03,40.3,2,0
496,1,81.00,1,0,1,1,0,117.77,27.1,0,0
497,0,1.24,0,0,0,0,1,61.94,20.3,0,0

# ðŸ¤– MODELO E TREINAMENTO

In [41]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [42]:
final_dataset_shuffle_target = final_dataset_shuffle[['AVC']]
final_dataset_shuffle_data = final_dataset_shuffle.drop('AVC', axis=1)

In [43]:
x_train, x_test, y_train, y_test = train_test_split(final_dataset_shuffle_data,
                                                    final_dataset_shuffle_target,
                                                    test_size=0.25)

In [44]:
tree_ia = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [45]:
tree_ia = tree_ia.fit(x_train, y_train)

In [46]:
predictions = tree_ia.predict(x_test)

In [47]:
print(predictions)

[1 0 1 1 0 1 1 1 1 0 0 1 0 1 1 1 0 1 1 1 0 1 0 0 0 0 0 1 1 1 0 1 1 0 0 0 0
 0 1 0 0 1 0 1 0 0 1 0 1 0 1 0 1 0 1 0 0 1 0 1 1 0 1 1 1 0 1 0 1 0 1 0 1 0
 1 1 0 1 0 0 0 1 0 0 0 0 0 1 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0
 0 0 1 0 1 0 0 1 1 1 0 1 1 1]

In [48]:
matriz = pd.crosstab(y_test,
                     predictions,
                     rownames=["Real"],
                     colnames=["Predito"],
                     margins=True,
                     margins_name='Todos')

print(f"\nMatriz de confusÃ£o detalhada:\n{matriz}")

ValueError: Data must be 1-dimensional, got ndarray of shape (125, 1) instead