In [3]:
import pandas as pd

stroke_data_set = pd.read_csv('dados1.csv', delimiter=';')

stroke_data_set.shape
stroke_data_set.head(10)

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
0,1,67.0,0,1,1,1,0,228.69,36.60,2,1
1,0,61.0,0,0,1,2,1,202.21,28.89,0,1
2,1,80.0,0,1,1,1,1,105.92,32.50,0,1
3,0,49.0,0,0,1,1,0,171.23,34.40,1,1
4,0,79.0,1,0,1,2,1,174.12,24.00,0,1
5,1,81.0,0,0,1,1,0,186.21,29.00,2,1
6,1,74.0,1,1,1,1,1,70.09,27.40,0,1
7,0,69.0,0,0,0,1,0,94.39,22.80,0,1
8,0,59.0,0,0,1,1,1,76.15,28.89,0,1
9,0,78.0,0,0,1,1,0,58.57,24.20,0,1

In [4]:
stroke_data_set.describe()

,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,43.226614,0.097456,0.054012,0.656164,1.278669,0.491977,106.147677,28.893110,0.500783,0.048728
std,22.612647,0.296607,0.226063,0.475034,0.857785,0.499985,45.283560,7.698018,0.772331,0.215320
min,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,55.120000,10.300000,0.000000,0.000000
25%,25.000000,0.000000,0.000000,0.000000,1.000000,0.000000,77.245000,23.800000,0.000000,0.000000
50%,45.000000,0.000000,0.000000,1.000000,1.000000,0.000000,91.885000,28.400000,0.000000,0.000000
75%,61.000000,0.000000,0.000000,1.000000,2.000000,1.000000,114.090000,32.800000,1.000000,0.000000
max,82.000000,1.000000,1.000000,1.000000,3.000000,1.000000,271.740000,97.600000,2.000000,1.000000

In [6]:
stroke_data_set.loc[stroke_data_set['AVC'] == 0]

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
249,1,3.0,0,0,0,0,1,95.12,18.00,0,0
250,1,58.0,1,0,1,1,0,87.96,39.20,0,0
251,0,8.0,0,0,0,1,0,110.89,17.60,0,0
252,0,70.0,0,0,1,1,1,69.04,35.90,2,0
253,1,14.0,0,0,0,0,1,161.28,19.10,0,0
...,...,...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,1,0,83.75,28.89,0,0
5106,0,81.0,0,0,1,2,0,125.20,40.00,0,0
5107,0,35.0,0,0,1,2,1,82.99,30.60,0,0
5108,1,51.0,0,0,1,1,1,166.29,25.60,2,0
5109,0,44.0,0,0,1,3,0,85.28,26.20,0,0