# ðŸŽ² TRATAMENTO DE DADOS

In [216]:
import pandas as pd

stroke_data_set = pd.read_csv('dados1.csv', delimiter=';')

stroke_data_set.shape
stroke_data_set.head(10)

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
0,1,67.0,0,1,1,1,0,228.69,36.60,2,1
1,0,61.0,0,0,1,2,1,202.21,28.89,0,1
2,1,80.0,0,1,1,1,1,105.92,32.50,0,1
3,0,49.0,0,0,1,1,0,171.23,34.40,1,1
4,0,79.0,1,0,1,2,1,174.12,24.00,0,1
5,1,81.0,0,0,1,1,0,186.21,29.00,2,1
6,1,74.0,1,1,1,1,1,70.09,27.40,0,1
7,0,69.0,0,0,0,1,0,94.39,22.80,0,1
8,0,59.0,0,0,1,1,1,76.15,28.89,0,1
9,0,78.0,0,0,1,1,0,58.57,24.20,0,1

In [217]:
stroke_data_set.describe()

,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,43.226614,0.097456,0.054012,0.656164,1.278669,0.491977,106.147677,28.893110,0.500783,0.048728
std,22.612647,0.296607,0.226063,0.475034,0.857785,0.499985,45.283560,7.698018,0.772331,0.215320
min,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,55.120000,10.300000,0.000000,0.000000
25%,25.000000,0.000000,0.000000,0.000000,1.000000,0.000000,77.245000,23.800000,0.000000,0.000000
50%,45.000000,0.000000,0.000000,1.000000,1.000000,0.000000,91.885000,28.400000,0.000000,0.000000
75%,61.000000,0.000000,0.000000,1.000000,2.000000,1.000000,114.090000,32.800000,1.000000,0.000000
max,82.000000,1.000000,1.000000,1.000000,3.000000,1.000000,271.740000,97.600000,2.000000,1.000000

In [218]:
avc_negativo = stroke_data_set.loc[stroke_data_set['AVC'] == 0]

avc_negativo_249 = avc_negativo.sample(n=249)

avc_negativo_249

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
1019,0,66.0,0,0,1,2,0,142.12,28.30,0,0
3872,1,32.0,1,0,0,3,0,58.24,28.89,2,0
3137,1,10.0,0,0,0,0,0,70.70,25.40,0,0
2005,1,35.0,0,0,1,1,1,90.51,26.70,0,0
1356,0,30.0,0,0,1,3,1,62.25,33.70,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2760,0,24.0,0,0,0,1,0,73.49,23.50,0,0
2483,0,39.0,0,0,1,3,0,107.47,21.30,0,0
4082,1,3.0,0,0,0,0,0,107.52,17.60,0,0
1228,0,79.0,0,0,0,1,1,239.52,25.50,0,0
4829,1,66.0,0,0,1,1,1,67.92,31.10,2,0

In [219]:
avc_positivo = stroke_data_set.loc[stroke_data_set['AVC'] == 1]

avc_positivo

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
0,1,67.0,0,1,1,1,0,228.69,36.60,2,1
1,0,61.0,0,0,1,2,1,202.21,28.89,0,1
2,1,80.0,0,1,1,1,1,105.92,32.50,0,1
3,0,49.0,0,0,1,1,0,171.23,34.40,1,1
4,0,79.0,1,0,1,2,1,174.12,24.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...
244,1,57.0,0,0,1,1,1,84.96,36.70,0,1
245,0,14.0,0,0,0,0,1,57.93,30.90,0,1
246,0,75.0,0,0,1,2,1,78.80,29.30,2,1
247,1,71.0,1,0,1,2,1,87.80,28.89,0,1
248,0,78.0,0,0,1,1,1,78.81,19.60,0,1

In [220]:
final_dataset = pd.concat([avc_positivo, avc_negativo_249], ignore_index=True)

final_dataset_shuffle = final_dataset.sample(frac=1).reset_index(drop=True)

final_dataset_shuffle

,Genero,Idade,Hipertensao,Doenca Cardiaca,Casado,Tipo de trabalho,Tipo de Residencia,Nivel medio de glicose,IMC,Condicao de fumante,AVC
0,0,77.0,0,0,1,3,1,190.32,31.40,0,1
1,1,60.0,1,0,1,3,0,213.03,20.20,1,1
2,1,78.0,1,0,1,1,0,75.32,28.89,2,1
3,0,61.0,1,0,1,1,1,170.05,60.20,1,0
4,1,68.0,0,0,1,2,0,77.82,27.50,1,1
...,...,...,...,...,...,...,...,...,...,...,...
493,1,55.0,0,0,1,2,0,93.67,29.30,0,0
494,1,82.0,0,1,1,1,1,208.30,32.50,0,1
495,0,68.0,0,0,1,1,1,211.06,39.30,0,1
496,0,78.0,0,0,1,1,0,58.57,24.20,0,1
497,0,72.0,0,0,1,2,0,239.82,35.80,0,0

# ðŸ¤– MODELO E TREINAMENTO

In [221]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [222]:
final_dataset_shuffle_target = final_dataset_shuffle[['AVC']]
final_dataset_shuffle_data = final_dataset_shuffle.drop('AVC', axis=1)

In [223]:
x_train, x_test, y_train, y_test = train_test_split(final_dataset_shuffle_data,
                                                    final_dataset_shuffle_target,
                                                    test_size=0.25)

In [224]:
tree_ia = tree.DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [225]:
tree_ia = tree_ia.fit(x_train, y_train)

In [226]:
predictions = tree_ia.predict(x_test)

In [227]:
print(predictions)

[1 1 0 0 1 1 0 0 1 0 0 1 0 1 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 1 1 0 0
 1 0 1 1 0 0 1 1 1 1 0 1 0 0 1 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 0 1 1 0 0 1 0
 0 1 0 1 0 0 1 1 0 0 0 0 1 0 1 0 0 1 1 0 1 0 1 0 1 1 1 0 1 0 1 1 1 1 0 1 0
 1 0 0 0 0 1 0 0 0 0 1 1 1 0]

In [228]:
y_test_series = y_test.squeeze()
predictions_series = pd.Series(predictions)

In [229]:
matriz = pd.crosstab(y_test_series,
                     predictions_series,
                     rownames=["Real"],
                     colnames=["Predito"],
                     margins=True,
                     margins_name='Todos')

print(f"Matriz de confusÃ£o detalhada:\n\n{matriz}")

acertos_1 = matriz.loc[0,0]
acertos_2 = matriz.loc[1,1]
todos = matriz.loc['Todos','Todos']

acertos_total = acertos_1 + acertos_2
acuracia = acertos_total / todos

acuracia_formatada = round(acuracia * 100, 1)
acuracia_formatada

print(f"\nAcurÃ¡cia de aproximadamente {acuracia_formatada}%")

Matriz de confusÃ£o detalhada:

Predito   0   1  Todos
Real
0         8   7     15
1         5   4      9
Todos    13  11     24

AcurÃ¡cia de aproximadamente 50.0%